/* default setting is for mobile, the fontSize and padding„ÄÅmargin
will changed for bigger screen */

/* base */
div.homepage-part1 {
  background-color: yellowgreen;
  padding-left: 1rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
div.homepage-part2 {
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
div.homepage-part3 {
  background-color: white;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
div.homepage-part4 {
  background-color: #563d7c;
  padding-top: 3rem;
  padding-bottom: 8rem;
}
div.homepage-part5 {
  background-color: white;
  padding-top: 4rem;
  padding-bottom: 0.1rem;
}
div.homepage-part6 {
  background-color: white;
  padding-top: 0.1rem;
  padding-bottom: 4rem;
}

@media (min-width: 576px) {
  div.homepage-part1 {
    padding-bottom: 5rem;
  }
  div.homepage-part2 {
    padding-bottom: 2rem;
  }
  div.homepage-part3 {
    padding-top: 2rem;
  }
  div.homepage-part5 {
    padding-top: 5rem;
  }
  div.homepage-part6 {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 992px) {
  div.homepage-part1 {
    padding-bottom: 6rem;
  }
  div.homepage-part2 {
    padding-bottom: 4rem;
  }
  div.homepage-part3 {
    padding-top: 4rem;
  }
  div.homepage-part5 {
    padding-top: 6rem;
  }
  div.homepage-part6 {
    padding-top: 3rem;
    padding-bottom: 8rem;
  }
}
@media (min-width: 1200px) {
  div.homepage-part1 {
    padding-bottom: 7rem;
  }
  div.homepage-part2 {
    padding-bottom: 4rem;
  }
  div.homepage-part3 {
    padding-top: 5rem;
  }
  div.homepage-part5 {
    padding-top: 8rem;
  }
  div.homepage-part6 {
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
}

/* part-1 */
p.homepage-part1-primary {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
}
p.homepage-part1-secondary {
  font-size: 1.8rem;
  font-weight: lighter;
}
p.homepage-part1-content {
  font-size: 0.9rem;
  color: #444444;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 576px) {
  p.homepage-part1-primary {
    font-size: 1.4rem;
  }
  p.homepage-part1-secondary {
    font-size: 2.2rem;
  }
  p.homepage-part1-content {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  p.homepage-part1-primary {
    font-size: 1.7rem;
  }
  p.homepage-part1-secondary {
    font-size: 2.6rem;
  }
  p.homepage-part1-content {
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  p.homepage-part1-primary {
    font-size: 2rem;
  }
  p.homepage-part1-secondary {
    font-size: 3rem;
  }
  p.homepage-part1-content {
    font-size: 1.2rem;
  }
}

/* part-2 */
p.homepage-part2-primary {
  margin: 0px;
  font-size: 1rem;
  font-weight: normal;
}
p.homepage-part2-secondary {
  padding-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: lighter;
}

@media (min-width: 576px) {
  p.homepage-part2-primary {
    font-size: 1.2rem;
  }
  p.homepage-part2-secondary {
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) {
  p.homepage-part2-primary {
    font-size: 1.4rem;
  }
  p.homepage-part2-secondary {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  p.homepage-part2-primary {
    font-size: 1.6rem;
  }
  p.homepage-part2-secondary {
    font-size: 2.2rem;
  }
}

/* part-3 */
div.homepage-part3-div {
  margin-bottom: 4rem;
}
p.homepage-part3-primary {
  margin: 0px;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
p.homepage-part3-secondary {
  font-size: 0.9rem;
  margin-top: 0rem;
  margin-bottom: 0.3rem;
}
p.homepage-part3-content {
  font-size: 0.8rem;
  color: #444444;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  div.homepage-part3-div {
    margin-bottom: 5rem;
  }
  p.homepage-part3-primary {
    font-size: 1.4rem;
  }
  p.homepage-part3-secondary {
    font-size: 0.9rem;
  }
  p.homepage-part3-content {
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  div.homepage-part3-div {
    margin-bottom: 6rem;
  }
  p.homepage-part3-primary {
    font-size: 1.6rem;
  }
  p.homepage-part3-secondary {
    font-size: 1.2rem;
  }
  p.homepage-part3-content {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  div.homepage-part3-div {
    margin-bottom: 8rem;
  }
  p.homepage-part3-primary {
    font-size: 1.8rem;
  }
  p.homepage-part3-secondary {
    font-size: 1.2rem;
  }
  p.homepage-part3-content {
    font-size: 1rem;
  }
}

/* part-4 */
/* p.homepage-part4-primary */
p.homepage-part4-primary {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
p.homepage-part4-secondary {
  padding-top: 0.8rem;
  padding-bottom: 4rem;
  font-size: 1rem;
  font-weight: normal;
  color: white;
}
div.homepage-part4-img {
  padding-top: 1rem;
}

@media (min-width: 576px) {
  p.homepage-part4-primary {
    font-size: 1.4rem;
  }
  p.homepage-part4-secondary {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  p.homepage-part4-primary {
    font-size: 1.6rem;
  }
  p.homepage-part4-secondary {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  p.homepage-part4-primary {
    font-size: 1.8rem;
  }
  p.homepage-part4-secondary {
    font-size: 1.2rem;
  }
}

/* part-5 */
/* p.homepage-part5-primary */
p.homepage-part5-primary {
  margin: 0px;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
p.homepage-part5-secondary {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
}
p.homepage-part5-content {
  font-size: 0.8rem;
  color: #444444;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
div.homepage-part5-cell {
  padding-bottom: 3rem;
}

@media (min-width: 576px) {
  p.homepage-part5-primary {
    font-size: 1.4rem;
  }
  p.homepage-part5-secondary {
    font-size: 0.9rem;
  }
  p.homepage-part5-content {
    font-size: 0.8rem;
  }
  div.homepage-part5-cell {
    padding-bottom: 4rem;
  }
}
@media (min-width: 992px) {
  p.homepage-part5-primary {
    font-size: 1.6rem;
  }
  p.homepage-part5-secondary {
    font-size: 1.2rem;
  }
  p.homepage-part5-content {
    font-size: 1rem;
  }
  div.homepage-part5-cell {
    padding-bottom: 5rem;
  }
}
@media (min-width: 1200px) {
  p.homepage-part5-primary {
    font-size: 1.8rem;
  }
  p.homepage-part5-secondary {
    font-size: 1.2rem;
  }
  p.homepage-part5-content {
    font-size: 1rem;
  }
  div.homepage-part5-cell {
    padding-bottom: 6rem;
  }
}

/* part-6 */
/* p.homepage-part6-primary */
p.homepage-part6-primary {
  margin: 0px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
p.homepage-part6-secondary {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  font-weight: normal;
}
div.homepage-part6-img {
  padding: 2rem;
}

@media (min-width: 576px) {
  p.homepage-part6-primary {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  p.homepage-part6-secondary {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  p.homepage-part6-primary {
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }
  p.homepage-part6-secondary {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  p.homepage-part6-primary {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
  p.homepage-part6-secondary {
    font-size: 1.2rem;
  }
}
