/* default setting is for mobile, the fontSize and padding„ÄÅmargin
will changed for bigger screen */

/* base */
div.cooperation-trans-bg1 {
  background-image: url("/img/common/bg_trans_01.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100%;
}
div.cooperation-trans-bg2 {
  background-image: url("/img/common/bg_trans_02.png");
  background-repeat: no-repeat;
  background-position: 0% 95%;
  background-size: 40%;
}

div.cooperation-case-part1 {
  padding-left: 1rem;
  padding-top: 1rem;
}
div.cooperation-case-part2 {
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}
div.cooperation-case-row {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  div.cooperation-case-part1 {
    padding-top: 2rem;
  }
  div.cooperation-case-part2 {
    padding-top: 6rem;
  }
}

@media (min-width: 1200px) {
  div.cooperation-case-part1 {
    padding-top: 4rem;
  }
  div.cooperation-case-part2 {
    padding-top: 8rem;
  }
}

/* part1 */
p.cooperation-case-part1-primary {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  p.cooperation-case-part1-primary {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  p.cooperation-case-part1-primary {
    font-size: 2rem;
  }
}

/* part2 */
div.cooperation-case-part2-div {
  margin-bottom: 5rem;
}
p.cooperation-case-part2-primary {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
p.cooperation-case-part2-content {
  font-size: 0.9rem;
  color: #444444;
  margin-bottom: 2.5rem;
  width: 90%;
}
img.cooperation-case-part2-logo {
  padding-bottom: 0.6rem;
  width: 7rem;
}

@media (min-width: 768px) {
  div.cooperation-case-part2-div {
    margin-bottom: 10rem;
  }
  p.cooperation-case-part2-primary {
    font-size: 1.5rem;
  }
  p.cooperation-case-part2-content {
    font-size: 0.9rem;
    width: 100%;
  }
  img.cooperation-case-part2-logo {
    padding-bottom: 0.8rem;
    width: 8rem;
  }
}
@media (min-width: 1200px) {
  div.cooperation-case-part2-div {
    margin-bottom: 15rem;
  }
  p.cooperation-case-part2-primary {
    font-size: 1.8rem;
  }
  p.cooperation-case-part2-content {
    font-size: 1rem;
    width: 95%;
  }
  img.cooperation-case-part2-logo {
    padding-bottom: 1rem;
    width: 10rem;
  }
}
