/* default setting is for mobile, the fontSize and padding„ÄÅmargin
will changed for bigger screen */

/* base */
div.footer-for-apply-bg-img {
  background-image: url("/img/footer_for_apply/footer_for_apply_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 0rem;
  padding-bottom: 1.2rem;
}
p.footer-for-apply-primary {
  padding-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
p.footer-for-apply-secondary {
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: lighter;
  color: white;
}
@media (min-width: 768px) {
  div.footer-for-apply-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  p.footer-for-apply-primary {
    font-size: 1.4rem;
    padding-top: 2rem;
    margin-bottom: 0.3rem;
  }
  p.footer-for-apply-secondary {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  div.footer-for-apply-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  p.footer-for-apply-primary {
    font-size: 1.8rem;
    padding-top: 3rem;
    margin-bottom: 0.3rem;
  }
  p.footer-for-apply-secondary {
    font-size: 1.2rem;
    padding-bottom: 3rem;
  }
}
