/* default setting is for mobile, the fontSize and paddingã€margin
will changed for bigger screen */

/* base */
img.logo {
  height: 1.8rem;
  padding-right: 4rem;
}
div.collapsed-menu {
  /* width: 100%;
  height: 80vh;
  background-color: blue; */
}

a.dropdown-item {
  padding: 1rem;
}
div.nav-item {
  margin-right: 2.5rem;
}
div.navlink {
  margin-right: 2.5rem;
}
div.dropdown.open.active > a:hover,
div.dropdown.open > a {
  color: green;
  background-color: #b91773;
  border-color: blue;
}
