/* default setting is for mobile, the fontSize and padding„ÄÅmargin
will changed for bigger screen */

/* base */
div.partner-part1 {
  background-color: white;
  padding-left: 1rem;
  padding-top: 1rem;
}
div.partner-part2 {
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
}

@media (min-width: 576px) {
  div.partner-part1 {
    padding-top: 2rem;
  }
  div.partner-part2 {
    padding-top: 6rem;
  }
}
@media (min-width: 992px) {
  div.partner-part1 {
    padding-top: 4rem;
  }
  div.partner-part2 {
    padding-top: 8rem;
  }
}
@media (min-width: 1200px) {
  div.partner-part1 {
    padding-top: 4rem;
  }
  div.partner-part2 {
    padding-top: 8rem;
  }
}

/* part-1 */
p.partner-part1-primary {
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 576px) {
  p.partner-part1-primary {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  p.partner-part1-primary {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  p.partner-part1-primary {
    font-size: 2rem;
  }
}

/* part-2 */
div.partner-part2-div {
  margin-bottom: 5rem;
}
p.partner-part2-content {
  font-size: 0.9rem;
  color: #444444;
  margin-top: 0rem;
  margin-bottom: 2.5rem;
}
img.partner-part2-logo {
  padding-bottom: 2rem;
  padding-right: 2rem;
  width: 60%;
}

@media (min-width: 576px) {
  div.partner-part2-div {
    margin-bottom: 10rem;
  }
  p.partner-part2-content {
    font-size: 0.9rem;
  }
  img.partner-part2-logo {
    padding-bottom: 1rem;
    padding-right: 3rem;
    width: 90%;
  }
}
@media (min-width: 992px) {
  div.partner-part2-div {
    margin-bottom: 15rem;
  }
  p.partner-part2-content {
    font-size: 1rem;
  }
  img.partner-part2-logo {
    padding-bottom: 1rem;
    padding-right: 4rem;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  div.partner-part2-div {
    margin-bottom: 15rem;
  }
  p.partner-part2-content {
    font-size: 1rem;
  }
  img.partner-part2-logo {
    padding-bottom: 1rem;
    padding-right: 6rem;
    width: 100%;
  }
}
