/* default setting is for mobile, the fontSize and padding„ÄÅmargin
will changed for bigger screen */

/* base */
div.price-trans-bg {
  background-image: url("/img/common/bg_trans_01.png");
  background-repeat: no-repeat;
  background-position: 100% 8%;
  background-size: 98%;
}

div.price-part1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("/img/price/price_banner.png");
}
div.price-part2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}
div.price-part3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  div.price-part1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  div.price-part2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (min-width: 992px) {
  div.price-part1 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  div.price-part2 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
@media (min-width: 1200px) {
  div.price-part1 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  div.price-part2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* part1 */
p.price-part1-primary {
  margin: 0px;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  p.price-part1-primary {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  p.price-part1-primary {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  p.price-part1-primary {
    font-size: 2.3rem;
  }
}

/* part-2 */
div.price-part2-row {
  padding: 0.6rem;
}
div.price-part2-colume {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 1.4rem;
}
div.price-part2-card {
  height: 12rem;
  border-width: 0;
  border-radius: 0.3rem;
}
div.price-part2-card-footer {
  border-width: 0;
  padding-bottom: 1.2rem;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
p.price-part2-primary {
  font-size: 1rem;
  margin-left: 0.1rem;
  padding-top: 0.1rem;
  font-weight: bold;
}
p.price-part2-content {
  font-size: 0.8rem;
  padding-top: 0.1rem;
  margin-left: 0.1rem;
  color: gray;
}

@media (min-width: 768px) {
  div.price-part2-card {
    height: 20rem;
  }
  div.price-part2-card-footer {
    padding-bottom: 1.6rem;
  }
  p.price-part2-primary {
    font-size: 1.3rem;
    margin-left: 0.5rem;
    padding-top: 1.4rem;
  }
  p.price-part2-content {
    padding-top: 0.8rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  div.price-part2-card {
    height: 24rem;
  }
  div.price-part2-card-footer {
    padding-bottom: 2rem;
  }
  p.price-part2-primary {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    padding-top: 1.4rem;
  }
  p.price-part2-content {
    padding-top: 0.8rem;
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  div.price-part2-card {
    height: 28rem;
  }
  div.price-part2-card-footer {
    padding-bottom: 2.4rem;
  }
  p.price-part2-primary {
    font-size: 1.8rem;
    margin-left: 0.5rem;
    padding-top: 1.4rem;
  }
  p.price-part2-content {
    padding-top: 0.8rem;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}
