/* default setting is for mobile, the fontSize and paddingã€margin
will changed for bigger screen */

/* base */

div.privacy-policy-left {
  -ms-flex: 0 0 25rem;
  flex: 0 0 25rem;
  height: 80vh;
  min-height: 40rem;
}
div.privacy-policy-right {
  height: 80vh;
  min-height: 20rem;
}
body {
  padding-top: 10px;
}

/* hide sidebar sub menus by default */
#sidebar.nav .nav {
  display: none;
  font-size: 12px;
}

/* show sub menu when parent is active */
#sidebar.nav > .active > ul {
  display: block;
}

.navbar-bright {
  background-color: #111155;
  color: #fff;
}

.navbar-bright a,
#masthead a,
#masthead .lead {
  color: #aaaacc;
}

.navbar-bright li > a:hover {
  background-color: #000033;
}

.affix-top,
.affix {
  position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top: 30px;
    width: 228px;
  }

  #sidebar.affix {
    position: fixed;
    top: 70px;
    width: 228px;
  }
}

#sidebar li.active {
  border: 0 #ddd solid;
  border-right-width: 8px;
}
