/* default setting is for mobile, the fontSize and padding、margin
will changed for bigger screen */

/* base */

div.traip-apply {
}
div.trail-apply-left {
  background-color: green;
  height: 100vh;
  min-height: 40rem;
}
div.trail-apply-right {
  background-color: orange;
  height: 100vh;
  min-height: 40rem;
}

@media (min-width: 576px) {
  .sidebar {
    max-width: 280px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
